{{! Se renderiza en /cart/:cid }}

<div> <h1>Detalle del carrito</h1></div>

<div>

  <ul>
    <li>Usurio: {{oneCart.user}} </li>
    <li>ID del carrito: {{oneCart._id}} </li>
    <ul>Productos del carrito:
      {{#each oneCart.products}}
        <li>ID del producto: {{_id}}</li>
        <li>Nombre: {{title}}</li>
        <li>Descripcion: {{description}}</li>
        <li>Precio: {{price}}</li>
      {{/each}}
    </ul>

  </ul>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketio.js"></script>